{% extends "base.html" %}

{% block title %}牡蛎网，英语听说读写和词汇，我们都能帮到你 牡蛎英语{% endblock %}

{% block page_content %}
    <div class="row intro-section" id="intro-oyster-words">
        <div class="span6">
            <img src="https://static.baydn.com/static/img/cover_notebook.png">
        </div>
        <div class="span4">
            <a href="/m/intro/?app=words">
                <img src="https://static.baydn.com/static/img/cover_oyster_words_download.png" usemap="#oyster-words-map">
            </a>
            <div class="clear">
            </div>
            <div class="description">
                <h2>牡蛎单词</h2>
                <ul>
                    <li>科学有效的词汇训练和测试</li>
                    <li>派生，词根，联想..... 丰富的记忆方法</li>
                    <li>结合柯林斯高阶词典，专业权威的英英释义</li>
                </ul>

            </div>
        </div>
    </div>
{% endblock %}
